.memo-block {
    float: left;
    font-size: 10px;
    position: absolute;
    width: 50px;
}

.board {
    width: 470px;
    height: 470px;
}

.block {
    float: left;
    font-size: 30px;
    top: -467px;
}

table {
    border-collapse: collapse;
}

.inblock td {
    width: 48px;
    height: 47px;
    border: 2px solid black;
}

.memo-block td {
    width: 20px;
    height: 15.3px;
}

td {
    text-align: center;
}

.Memo {
    position: relative;
    width: 120px;
    height: 60px;
}

.numbers {
    position: relative;
    float: left;
    width: 50px;
    font-size: 40px;
}

.clicked-tile {
    background-color: rgb(145, 216, 255);
}

.surroundings {
    background-color: rgb(185, 238, 255);
}

.new-number {
    color: rgb(52, 52, 255);
    font-weight: bold;
}

.mistake {
    font-size: 30px;
    float: left;
}

.time {
    font-size: 30px;
    margin-left: 200px;
}
